<% if resource.errors.any? %>
  <div class="auth-errors" id="error_explanation" data-turbo-temporary>
    <p class="auth-errors-title">
      <%= I18n.t("errors.messages.not_saved",
                 count: resource.errors.count,
                 resource: resource.class.model_name.human.downcase) %>
    </p>
    <ul class="auth-errors-list">
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
