<div id="cart_count" class="cart-count-container">
  <%= link_to cart_path, class: "cart-link" do %>
    <span class="cart-icon">🛒</span>
    <span>Cart</span>
    <% 
      cart_count = 0
      if user_signed_in? && current_user.cart.present?
        cart_count = current_user.cart.total_items
      elsif !user_signed_in? && session[:cart_items].present?
        cart_count = session[:cart_items].values.sum
      end
    %>
    <% if cart_count > 0 %>
      <span class="cart-count"><%= cart_count %></span>
    <% end %>
  <% end %>
</div>
